{% extends "structure/1-html.html" %}

{% block html %}
<head>
	<meta charset="utf-8">
	<title>Les Pizzas du Puits Vieux</title>
	<meta name="description" content="Les Pizzas du Puits Vieux">
	<meta name="keywords" lang="fr" content="pizza restaurant saint priest lyon rhône restauration italien italie cuisine eurexpo porte des alpes  ">
	<meta name="keywords" lang="en" content="pizza restaurant italian saint priest lyon rhone eurexpo ">
	<meta name="p:domain_verify" content="613d150795115f28e6832b10319c7d4b">

	<link href='https://fonts.googleapis.com/css?family=Raleway:200,500,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ get_url(path="css/reset.css") }}">
	<link rel="stylesheet" href="{{ get_url(path="css/common.css") }}">
	{% block css %} {% endblock %}

	<script src="{{ get_url(path="js/html5shiv.js") }}"></script>
	<script src="{{ get_url(path="js/jquery-1.9.1.min.js") }}"></script>
	<script src="{{ get_url(path="js/jquery.scrollTo.js") }}"></script>
	<script src="{{ get_url(path="js/main.js") }}"></script>
</head>

<body>
  {% block body %} {% endblock %}
</body>

{% endblock html %}
