{% extends "structure/4-title.html" %}

{% block css %}
<link rel="stylesheet" href="{{ get_url(path="css/carte.css") }}">
{% endblock css %}

{% block header %}
<div class="header">
	<div class="menu">
    <div id="logo">
      <a href="{{ get_url(path="@/_index.md") }}">
        <img src="{{ get_url(path="sources/logo.png") }}" alt="logo">
      </a>
    </div>
    <a href="{{ get_url(path="@/_index.md#contact") }}"><div class="onglet"> Contact </div></a>
    <a href="{{ get_url(path="@/_index.md#presentation") }}"><div class="onglet"> Carte </div></a>
    <a href="{{ get_url(path="@/_index.md#news") }}"><div class="onglet"> News </div></a>
    <a href="{{ get_url(path="@/_index.md") }}"><div class="onglet" id="onglet1"> Accueil </div></a>
  </div>
</div>
{% endblock header %}

{% block footer %}
<div class="footer">
  <div class="link">
    <a href="https://www.facebook.com/pages/Les-pizzas-du-puits-vieux/103684396457692?fref=ts&locale=fr_FR" target="_blank">
      <img src="{{ get_url(path="sources/fb.png") }}" alt="fb">
    </a>
    <br><br> Suivez notre actualité sur facebook<br><br><br><br>
    <a href="{{ get_url(path="@/_index.md") }}"><div class="onglet-footer"> Accueil </div></a>
    <a href="{{ get_url(path="@/_index.md#news") }}"><div class="onglet-footer"> News </div></a>
    <a href="{{ get_url(path="@/_index.md#presentation") }}"><div class="onglet-footer"> Carte </div></a>
    <a href="{{ get_url(path="@/_index.md#contact") }}"><div class="onglet-footer"> Contact </div></a>
    <br><br><br>
    <a href="https://www.economie.gouv.fr/dgccrf/Publications/Vie-pratique/Fiches-pratiques/Allergene-alimentaire" target="_blank">
      <div class="dev"> Liste des Allergènes Officielle DGCCRF - La liste est disponible imprimée au magasin. </div>
    </a>
    <a href="http://www.valentinlombardi.fr" target="_blank">
      <div class="dev"> Design & Développement: Valentin Lombardi </div>
    </a>
    <div class="dev">Les Pizzas du Puits Vieux - Marque Déposéé à l'INPI - Société à responsabilité limitée - 43 rue du puits vieux 69800 Saint-Priest - tel:04 78 20 08 81 - SIRET 39783766700013  RCS Lyon B 397 837 667 </div>
  </div>
</div>
{% endblock footer %}
