{% extends "structure/4-title.html" %}

{% block css %}
<link rel="stylesheet" href="{{ get_url(path="css/home.css") }}">
{% endblock css %}

{% block header %}
<div class="header">
	<div class="menu">
    <div id="logo">
      <a href="{{ get_url(path="@/_index.md") }}">
        <img src="{{ get_url(path="img/logo.png") }}" alt="logo">
      </a>
    </div>
   	<a href="#contact"><div class="onglet"> Contact </div></a>
    <a href="#presentation"><div class="onglet"> Carte </div></a>
    <a href="#news"><div class="onglet"> News </div></a>
    <a href="{{ get_url(path="@/_index.md") }}"><div class="onglet" id="onglet1"> Accueil </div></a>
  </div>
</div>
{% endblock header %}

{% block footer %}
{% include "blocks/presentation.html" %}
{% include "blocks/contact.html" %}
<div class="footer">
  <div class="link">
    <a href="https://www.facebook.com/pages/Les-pizzas-du-puits-vieux/103684396457692?fref=ts&locale=fr_FR" target="_blank">
      <img src="{{ get_url(path="img/fb.png") }}" alt="fb">
    </a>
    <br><br> Suivez notre actualité sur facebook<br><br><br><br>
    <a href="{{ get_url(path="@/_index.md") }}"><div class="onglet-footer"> Accueil </div></a>
    <a href="#news"><div class="onglet-footer"> News </div></a>
    <a href="#presentation"><div class="onglet-footer"> Carte </div></a>
    <a href="#contact"><div class="onglet-footer"> Contact </div></a>
    <br><br><br>
    <a href="https://www.economie.gouv.fr/files/files/directions_services/dgccrf/documentation/publications/depliants/allergenes_fr.pdf" target="_blank">
      <div class="dev"> Liste des Allergènes Officielle DGCCRF - La liste est disponible imprimée au magasin. </div>
    </a>
    <a href="http://www.valentinlombardi.fr" target="_blank">
      <div class="dev"> Design &amp; Développement: Valentin Lombardi </div>
    </a>
    <div class="dev">Les Pizzas du Puits Vieux - Marque Déposéé à l'INPI - Société à responsabilité limitée - 43 rue du puits vieux 69800 Saint-Priest - tel:04 78 20 08 81 - SIRET 39783766700013  RCS Lyon B 397 837 667</div>
  </div>
</div>
{% endblock footer %}

{% block content %}

{% block news %}
{% set news = load_data(path="content/data/news.yaml", format="yaml") %}
{% endblock news %}

<div class="bloc-actu">
  <div class="view view-tenth">
    <img src="{{ get_url(path="img/onglet-plaque.jpg") }}" alt="onglet-plaque">
    <div class="mask">
      <h2>NOUVELLE RECETTE ! </h2>
      <p>Pizza Teglia, Nouvelle recette !</p>
      <a href="{{ get_url(path="@/_index.md#news") }}" class="info">Voir plus</a>
    </div>
  </div>
  <div class="view view-tenth">
    <img src="{{ get_url(path="img/onglet-tiramisu.jpg") }}" alt="tiramisu">
    <div class="mask">
      <h2>NOUVEAU</h2>
      <p>Nos recettes du moment</p>
      <a href="{{ get_url(path="news-tiramisu.html#news") }}" class="info">Voir plus</a>
    </div>
  </div>
  <div class="view view-tenth">
    <img src="{{ get_url(path="img/calzone-onglet.jpg") }}" alt="calzone">
    <div class="mask">
      <h2>NOUVEAU </h2>
      <p>Le Calzone à 11,00€</p>
      <a href="{{ get_url(path="news-calzone.html#news") }}" class="info">Voir plus</a>
    </div>
  </div>
  <div class="view view-tenth">
    <img src="{{ get_url(path="img/glaces-2.png") }}" alt="glaces-2">
    <div class="mask">
      <h2>Gemelli - Gelati & Sorbetti</h2>
      <p>Glaces et sorbets italiens légers et naturels</p>
      <a href="{{ get_url(path="@/carte-dessert.md") }}" class="info">Voir plus</a>
    </div>
  </div>
  <div class="view view-tenth">
    <img src="{{ get_url(path="img/lasagnes.jpg") }}" alt="lasagnes">
    <div class="mask">
      <h2>Lasagnes</h2>
      <p>Lasagnes faites maison..</p>
      <a href="{{ get_url(path="news-lasagnes.html#news") }}" class="info">Voir plus</a>
    </div>
  </div>
  <div class="view view-tenth">
    <img src="{{ get_url(path="img/news.jpg") }}" alt="burger">
    <div class="mask">
      <h2>Pizza Burger</h2>
      <p>Authentique réinterprétation d'un burger dans le respect de la pizza traditionnelle...</p>
      <a href="{{ get_url(path="news-burger.html#news") }}" class="info">Voir plus</a>
    </div>
  </div>
</div>

{% endblock content %}
