<div class="contact" id="contact">
	<div class="infos">
    <p>
      Les Pizzas du Puits Vieux<br>
      43 rue du puits vieux<br>
      69800 Saint-Priest
    </p> <br>
    <hr>
    <p>
      <br> Ouverture: <br>
      Du lundi au Dimanche <br>
      de 17h à 21h<br>
      Horaires d'été 18h à 22h jusqu'au 1er Octobre
    </p><br> <hr>
    <p>
      <br>Pour commander par téléphone: <br>
      04.78.20.08.81<br>
    </p>
  </div>
  <div class="carte">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2786.5912665860346!2d4.950159!3d45.699174!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4c47453ca1735%3A0x7db0ac0f80bb003d!2sLes+Pizzas+du+Puits+Vieux!5e0!3m2!1sfr!2sfr!4v1425339203885"></iframe>
  </div>
</div>
