<div class="presentation" id="presentation">
  <img src="{{ get_url(path="img/IMG_76372.jpg") }}" alt="presentation">
	<div class="pres-titre">
    <p> NOTRE CARTE </p><hr><br>
    <div class="flag">
      <div class="flagv"></div>
      <div class="flagb"></div>
      <div class="flagr"></div>
    </div><br>
    <h1>
      Depuis 1987 la pizzeria du puits vieux met un point d'honneur à proposer une carte de qualité irréprochable. Tous nos produits sont sont frais, sélectionnés, et cuisinés par nos soins pour vous proposer plats et pizzas de qualité, dans le respect de la cuisine traditionnelle italienne.<br><br>
      Situé au 43, rue du puis vieux à Saint Priest, notre équipe vous accueille tous les jours du Lundi au Dimanche de 17h à 21h.
    </h1><br><br><br><br><br><br><br>
    <div class="carte-pizza" id="carte">
    	<a href="{{ get_url(path="@/carte-vin.md") }}">
        <div class="picto-boisson">
        	<img src="{{ get_url(path="img/boisson.png") }}" alt="boisson"><br><br><br><br><br><br>
        	<div  class="bouton-carte">BOISSONS </div>
        </div>
      </a>
    	<a href="{{ get_url(path="@/carte-pizza.md") }}">
        <div class="picto-pizza">
        	<img src="{{ get_url(path="img/pizza2.png") }}" alt="pizza2"><br><br><br><br><br><br>
        	<div  class="bouton-carte"> PIZZAS </div>
        </div>
      </a>
      <a href="{{ get_url(path="@/carte-dessert.md") }}">
        <div class="picto-dessert">
        	<img src="{{ get_url(path="img/dessert.png") }}" alt="dessert"><br><br><br><br><br>
        	<div  class="bouton-carte"> DESSERTS </div>
        </div>
      </a>
    </div>
  </div>
</div>
